html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}

.container, .card, .row.g-0 {
    height: 100%;
}

.list-group-item.active {
    z-index: 1;
    color: #fff;
    text-decoration: none;
    background-color: #2a9fd6;
}

.right-pane {
    display: flex;
    flex-direction: column;
}

.messages-container {
    flex: 1;
    display: flex; 
    flex-direction: column;  
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*max-height: 800px;*/
    overflow-y: auto;
    height: 0px;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.time {
    text-align: center;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.badge {
    float: right;
}

.form-control {
    background-color: var(--bs-gray-700);
    border: 1px var(--bs-gray-600) solid;
    color: var(--bs-gray-100);
}

.form-control:focus {
    background-color: var(--bs-gray-600);
    color: var(--bs-gray-100);
}

.font-weight-bold {
    font-weight: bold;
}