<form action="/auth?cb={cb}" method="post">
    <div>
        <div class="form-floating">
            <input name="mail" type="mail" required class="form-control" id="floatingName" placeholder="name@example.com" value="{mail}">
            <label for="floatingName">Email address</label>
        </div>
        
        <div class="form-floating">
            <input name="password" type="password" required class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    
</form>

<p class="mt-3 mb-3"><a href="/signup?cb={cb}">Create an account</a></p>