<form action="/signup?cb={cb}" method="post">
    <div>
        <div class="form-floating">
            <input type="name" name="name" required class="form-control" id="floatingName" placeholder="name@example.com" value="{name}">
            <label for="floatingName">Full name</label>
        </div>
        
        <div class="form-floating">
            <input type="email" name="email" required class="form-control" id="floatingInput" placeholder="name@example.com" value="{email}">
            <label for="floatingInput">Email address</label>
        </div>
        
        <div class="form-floating">
            <input type="password" name="password" required class="form-control" id="floatingPassword" placeholder="Password" value="{password}">
            <label for="floatingPassword">Password</label>
        </div>
    </div>
    
    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Sign up" />
    
</form>

<p class="mt-3 mb-3"><a href="/auth?cb={cb}">Sign in instead</a></p>